.container {
  max-width: 1200px;
}

.menu {
    margin-top: 25%;
}

.menu li {
    color: #222;
    list-style-type: none;
    cursor: pointer; cursor: hand;
}

.menu li:hover {
    background-color: #EEE;
}

.menu li.selected {
    color: #000;
    background-color: #CCC;
}