.container {
  max-width: 1200px;
}

.menu {
    margin-top: 25%;
    border-bottom: 5px;
}

.menu li {
    padding-left: 3px;
    font-family: "HelveticaNeue","Helvetica Neue",Helvetica,Arial,sans-serif;
    color: #222;
    list-style-type: none;
    cursor: pointer; cursor: hand;
}

.menu li:hover {
    background-color: #EEE;
}

.menu li.selected {
    color: #000;
    background-color: #DADADA;
}

.list-heading {
    font-weight: bold;
    margin-bottom: .5em;
}

#heatmap {
    width: 1200px;
    height: 800px;
    position: relative;
}
